/** formatting the header **/

* {
    box-sizing: border-box;
}

html {
    display: block;
}

.header-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header {
    background-color: #ffffff;
    height: 10vh;
    width: 100%;
    border-bottom: solid 7px #cccccc;
}

.header-wrapper {
    width: 90%;
    height: 10vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: purple;
}

.header-wrapper nav {
    justify-content: center;
    margin-left: auto;
    display: flex;
    flex-wrap: auto;
    background: limegreen;
}

.header-wrapper nav a {
    color: var(--light);
    padding: 0 15px;
    font-size: 20px;
    text-decoration: none;
    border-right: 2px solid var(--light-blue);
}

.logo {
    background-color: #4aaaa5;
    width: 20vw;
    height: 10vh;
    text-align: center;
    float: left;
}

.logo p {
    padding-top: 4vh;
    color: #ffffff;
    font-size: 1.5rem;
}

h1 {
    background-color: #4aaaa5;
    width: 20vw;
    height: 10vh;
    text-align: center;
    float: left;
    padding-top: 4vh;
    color: #ffffff;
    font-size: 1.5rem;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}